In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
train_ban = pd.read_csv('/content/gdrive/MyDrive/Hackathon/Bangalore1.csv')
test_ban = pd.read_csv('/content/gdrive/MyDrive/Hackathon/Bangalore1.csv')

In [ ]:
train_ban.shape, test_ban.shape

((1353, 8), (1353, 8))

In [ ]:
#train.info()
test_ban.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Place_id  1353 non-null   object
 1   Title     1306 non-null   object
 2   Category  1353 non-null   object
 3   Distance  1353 non-null   float64
 4   Rating    1353 non-null   float64
 5   Closed    1353 non-null   object
 6   Timing    1353 non-null   object
 7   Price     1353 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 84.7+ KB

In [ ]:
train_ban.head

<bound method NDFrame.head of      Place_id                        Title          Category  Distance  \
0        TB-1             Bangalore Palace          Heritage       0.0
1        TB-2                      Lalbagh            Nature       7.3
2        TB-3                  Nandi Hills  Nature,Adventure      60.0
3        TB-4  Tipu Sultan's Summer Palace          Heritage       3.0
4        TB-5                  Cubbon Park            Nature       3.4
...       ...                          ...               ...       ...
1348  TB-1349               Pizza Da Dhaba              Food      22.0
1349  TB-1350                 Kalpavruksha              Food      30.0
1350  TB-1351                    Innerchef              Food      10.0
1351  TB-1352                   Juice Land              Food      17.0
1352  TB-1353      Bombay Sandwich Company              Food      14.0

      Rating    Closed        Timing  Price
0        4.2    Monday   10:00-17:30    863
1        4.4       Nil    8:00-18:00    781
2        4.0       Nil   10:00-18:30   1718
3        3.9       Nil   10:00-17:30    606
4        4.4  Thursday    6:00-18:00    665
...      ...       ...           ...    ...
1348     1.0       Nil  9:30–17:1307   1584
1349     3.0       Nil  9:30–17:1308   1615
1350     3.0       Nil  9:30–17:1309   1279
1351     1.0       Nil  9:30–17:1310    589
1352     5.0       Nil  9:30–17:1311   1580

[1353 rows x 8 columns]>

In [ ]:
for i in train_ban.columns:
   print("Unique values in", i, train_ban[i].nunique())

Unique values in Place_id 1353
Unique values in Title 944
Unique values in Category 14
Unique values in Distance 49
Unique values in Rating 20
Unique values in Closed 8
Unique values in Timing 1332
Unique values in Price 863

In [ ]:
for i in test_ban.columns:
    print("Unique values in", i, test_ban[i].nunique())

Unique values in Place_id 1353
Unique values in Title 944
Unique values in Category 14
Unique values in Distance 49
Unique values in Rating 20
Unique values in Closed 8
Unique values in Timing 1332
Unique values in Price 863

In [ ]:
train_ban

,Place_id,Title,Category,Distance,Rating,Closed,Timing,Price
0,TB-1,Bangalore Palace,Heritage,0.0,4.2,Monday,10:00-17:30,863
1,TB-2,Lalbagh,Nature,7.3,4.4,Nil,8:00-18:00,781
2,TB-3,Nandi Hills,"Nature,Adventure",60.0,4.0,Nil,10:00-18:30,1718
3,TB-4,Tipu Sultan's Summer Palace,Heritage,3.0,3.9,Nil,10:00-17:30,606
4,TB-5,Cubbon Park,Nature,3.4,4.4,Thursday,6:00-18:00,665
...,...,...,...,...,...,...,...,...
1348,TB-1349,Pizza Da Dhaba,Food,22.0,1.0,Nil,9:30–17:1307,1584
1349,TB-1350,Kalpavruksha,Food,30.0,3.0,Nil,9:30–17:1308,1615
1350,TB-1351,Innerchef,Food,10.0,3.0,Nil,9:30–17:1309,1279
1351,TB-1352,Juice Land,Food,17.0,1.0,Nil,9:30–17:1310,589
1352,TB-1353,Bombay Sandwich Company,Food,14.0,5.0,Nil,9:30–17:1311,1580

In [ ]:
train_df = train_ban[['Place_id','Title','Category','Distance','Closed','Timing','Price']]
test_df = test_ban[['Place_id','Title','Category','Distance','Closed','Timing','Price']]

In [ ]:
train_df.head(2)

  Place_id             Title  Category  Distance  Closed       Timing  Price
0     TB-1  Bangalore Palace  Heritage       0.0  Monday  10:00-17:30    863
1     TB-2           Lalbagh    Nature       7.3     Nil   8:00-18:00    781

In [ ]:
def timing(dep):
    dep = dep.split(':')
    dep = int(dep[0])
    if (dep >= 6 and dep < 12):
        return 'Morning'
    elif (dep >= 12 and dep < 17):
        return 'Noon'
    elif (dep >= 17 and dep < 20):
        return 'Evening'
    else:
        return 'Night'
    
train_df['Timing'] = train_ban['Timing'].apply(timing)   
test_df['Timing'] = test_ban['Timing'].apply(timing) 

train_df['Timing'] = train_ban['Timing'].apply(timing)   
test_df['Timing'] = test_ban['Timing'].apply(timing)

In [ ]:
train_df

,Place_id,Title,Category,Distance,Closed,Timing,Price
0,TB-1,Bangalore Palace,Heritage,0.0,Monday,10:00-17:30,863
1,TB-2,Lalbagh,Nature,7.3,Nil,8:00-18:00,781
2,TB-3,Nandi Hills,"Nature,Adventure",60.0,Nil,10:00-18:30,1718
3,TB-4,Tipu Sultan's Summer Palace,Heritage,3.0,Nil,10:00-17:30,606
4,TB-5,Cubbon Park,Nature,3.4,Thursday,6:00-18:00,665
...,...,...,...,...,...,...,...
1348,TB-1349,Pizza Da Dhaba,Food,22.0,Nil,9:30–17:1307,1584
1349,TB-1350,Kalpavruksha,Food,30.0,Nil,9:30–17:1308,1615
1350,TB-1351,Innerchef,Food,10.0,Nil,9:30–17:1309,1279
1351,TB-1352,Juice Land,Food,17.0,Nil,9:30–17:1310,589
1352,TB-1353,Bombay Sandwich Company,Food,14.0,Nil,9:30–17:1311,1580

In [ ]:
x= train_df.drop(['Price'], axis=1)
y = train_df['Price'].values

In [ ]:
train_df = pd.get_dummies(train_df, columns=['Place_id','Title','Category','Distance','Closed','Timing','Price'],
                          drop_first=True)
test_df = pd.get_dummies(test_df, columns=['Place_id','Title','Category','Distance','Closed','Timing','Price'],
                         drop_first=True)

KeyError: ignored

In [ ]:
train_df

,Place_id_TB-10,Place_id_TB-100,Place_id_TB-1000,Place_id_TB-1001,Place_id_TB-1002,Place_id_TB-1003,Place_id_TB-1004,Place_id_TB-1005,Place_id_TB-1006,Place_id_TB-1007,...,Price_1785,Price_1786,Price_1787,Price_1788,Price_1792,Price_1793,Price_1794,Price_1796,Price_1798,Price_1800
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1349,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1350,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1351,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1352,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X = train_df.drop(['Price'], axis=1)
y = train_df['Price'].values

from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.25, random_state=1)
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

KeyError: ignored

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.25, random_state=1)
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

NameError: ignored

In [ ]:
from math import sqrt 
from sklearn.metrics import mean_squared_log_error

In [ ]:
import lightgbm as lgb
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_cv, label=y_cv)

lgbm = lgb.train(params=param,
                 verbose_eval=1000,
                 train_set=train_data,
                 valid_sets=[test_data])

y_pred2 = lgbm.predict(X_cv)

print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred2))))

NameError: ignored

In [ ]:
import lightgbm as lgb
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_cv, label=y_cv)

param = {'objective': 'regression',
         'boosting': 'gbdt',
         'num_iterations': 3000,   
         'learning_rate': 0.06,  
         'num_leaves': 40,  
         'max_depth': 24,   
         'min_data_in_leaf':11,  
         'max_bin': 4, 
         'metric': 'l2_root'
         }

lgbm = lgb.train(params=param,
                 verbose_eval=1000,
                 train_set=train_data,
                 valid_sets=[test_data])

Param
y_pred2 = lgbm.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred2))))
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.25, random_state=1)

NameError: ignored

In [ ]:
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

NameError: ignored

In [ ]:
from sklearn.ensemble import BaggingRegressor
br = BaggingRegressor(base_estimator=None, 
                      n_estimators=50, 
                      max_samples=1.0, 
                      max_features=1.0, 
                      bootstrap=True, 
                      bootstrap_features=False, 
                      oob_score=False, 
                      warm_start=False, 
                      n_jobs=1, 
                      random_state=1, 
                      verbose=0)
br.fit(X_train, y_train)
y_pred3 = br.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred3))))
#RMSLE:0.11265336177662688

NameError: ignored

In [ ]:
y_pred = y_pred1*0.10 + y_pred2*0.50 + y_pred3*0.20 + y_pred4*0.20
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred))))

NameError: ignored

In [ ]:
df_sub = pd.DataFrame(data=y_pred, columns=['Price'])
#writer = pd.ExcelWriter('Output.xlsx')
#with pd.ExcelWriter('output.xlsx') as writer:
    #df1.to_excel(writer, sheet_name='Sheet_name_1')
    #df_sub.to_excel(writer,sheet_name='Sheet1', index=False)
#writer.save()

NameError: ignored

In [ ]:
df_sub.head()